.show-all-row{
    display: flex;
    justify-content: end;
    .button{
        border: 1px solid #53a5cfff;
        border-radius: 30px;
        margin-left: .5rem;
        color: #53a5cfff;
        transition: 200ms;
        &:hover{
            cursor: pointer;
            color: #fff;
            background-color: #53a5cfff;
        }
    }
}