.tab-lables-container{
    .tab-lable{
        padding: .5rem 1.5rem;
        margin-right: .5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #f0f0f0ff;
        color: #a6a5a2ff;
        border: 1px solid rgb(220, 220, 220);
        cursor: pointer;
        transition: 200ms;
        &:hover{
            color: #52A5CF;
            border-color: #52A5CF;
        }
        &.active{
            background-color: #52A5CF;
            color:#fff;
            border-color: #fff;
        }

    }
}

.dataTable{
    margin: 0 auto;
    width: 100%;
    &>div{
        width: 100% !important;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-cell:focus {
        outline: none;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
        outline: none !important;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        break-inside: avoid;
        //non riesco a separare le ROWS in qunato sputtana la table appena provo ad aggiungere del padding, dobbiamo trovare un modo alternat
    }
    //debug per bordi colonne
    .MuiDataGrid-columnHeader, .MuiDataGrid-cell{
        border-right: 1px solid grey;
    }
    .dataGrid-actions{
        display: flex;
        gap: .5rem;
        padding: 0 1rem;
    }
    //rimuovo 1 di n
    p.MuiTablePagination-displayedRows{
        display: none;
    }
    .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-cell:focus-within{
        outline: none !important;
    }
    .MuiDataGrid-menuIcon{
        display: none !important;
    }
   
}
.requisiti-section-title{
    transition: 200ms;
    position: relative;
    z-index: 3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
    margin-bottom: -20px;

}


.requisiti-table{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .MuiDataGrid-columnHeader, .MuiDataGrid-cell{
        border-right:none;
    }
    
    //rimuove pagina 1 di n
    p.MuiTablePagination-displayedRows{
        display: none;
    }
    .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-columnHeader--moving {
        background-color: inherit;
    }
    .MuiDataGrid-columnHeaders{
        align-items: center;
        border-bottom: none;
        background-color: #ebeeffff;
        align-items: flex-end;
    }
    .customHeader{
        height: 30px !important;
        min-height: none !important;
       

    }
    .MuiDataGrid-menuIcon{
        display: none !important;
    }
    .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-cell:focus-within{
        outline: none !important;
    }
    .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-cell:focus-within{
        outline: none;
    }
    .MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within {
        outline: solid #1976d2 1px !important;
        outline-offset: -1px;
    }
    .custom-table-header{
        color: rgb(85, 85, 85);
    }
}
