.tab-labels-container{
    .tab-label{
        padding: .5rem 1.5rem;
        margin-right: .5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #f0f0f0ff;
        color: #a6a5a2ff;
        border: 1px solid rgb(220, 220, 220);
        cursor: pointer;
        transition: 200ms;
        &:hover{
            color: #52A5CF;
            border-color: #52A5CF;
        }
        &.active{
            background-color: #52A5CF;
            color:#fff;
            border-color: #fff;
        }

    }
}

.dataTable{
    margin: 0 auto;
    width: 100%;
    &>div{
        width: 100% !important;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-cell:focus {
        outline: none;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
        outline: none !important;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        break-inside: avoid;
        //non riesco a separare le ROWS in qunato sputtana la table appena provo ad aggiungere del padding, dobbiamo trovare un modo alternat
    }
    //debug per bordi colonne
    .MuiDataGrid-columnHeader, .MuiDataGrid-cell{
        border-right: 1px solid grey;
    }
    .dataGrid-actions{
        display: flex;
        gap: .5rem;
        padding: 0 1rem;
    }
    //rimuovo 1 di n
    p.MuiTablePagination-displayedRows{
        display: none;
    }
    .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .css-1ajlm6j-MuiDataGrid-root .MuiDataGrid-cell:focus-within{
        outline: none !important;
    }
    .MuiDataGrid-menuIcon{
        display: none !important;
    }
   
}
.requisiti-section-title{
    transition: 200ms;
    position: relative;
    z-index: 3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: none;
    margin-bottom: -20px;
    .req-master-actions{
        padding-left: 1rem;
        transition: 100ms;
        opacity:0
    }
    &:hover{
        .req-master-actions{
            opacity:1
        }
    }

}



