.widget{
    box-shadow: 0px 5px 20px rgb(145, 145, 145);
    border: 2px solid #53a5cfff ;
    border-radius: 10px;
    overflow: hidden;
    transition: 200ms;
    .widget-header{
        display: flex;
        align-items: center;
        margin-bottom: .7rem;
        span{
            font-size:2rem;
        }
    }
    .widget-body{
        display: flex;
        justify-content: space-between;
        padding-left: .3rem;
        .widget-content{
            display: flex;
            align-items: center;
           
        }
    }
    .widget-link{
        padding-left: .3rem;
    }

    &:hover{
        transform: scale(1.01);
        .widget-link p{
            color: rgb(98, 129, 255);
            text-decoration: underline;
        }
    }
}