//proprietà per treeView selected item

.css-1bcfi89-MuiTreeItem-content.Mui-focused{
    background-color: transparent !important;
  }
  .css-1bcfi89-MuiTreeItem-content .MuiTreeItem-iconContainer{
    justify-content: flex-start !important;
    width: 60px !important;
  }
  .css-1bcfi89-MuiTreeItem-content.Mui-selected{
    background-color: transparent !important
  }
  