.dataTable{
    margin: 0 auto;
    width: 100%;
    &>div{
        width: 100% !important;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-cell:focus {
        outline: none;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-ak0vx-MuiDataGrid-root .MuiDataGrid-cell:focus {
        outline: none;
    }
    .css-ak0vx-MuiDataGrid-root .MuiDataGrid-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        break-inside: avoid;
        //non riesco a separare le ROWS in qunato sputtana la table appena provo ad aggiungere del padding, dobbiamo trovare un modo alternat
    }
    //debug per bordi colonne
    .MuiDataGrid-columnHeader, .MuiDataGrid-cell{
        border-right: 1px solid grey;
    }
    .dataGrid-actions{
        display: flex;
        gap: .5rem;
    }
}